.button {
  padding: 15px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #D5D3CD;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-decoration: underline;
}

.button:hover {background-color: white}

.button:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
    background-color: grey;
}

/* for the headings/

h1 {
    color: black;
    margin-left: 40px;
}*/
img {
  margin: -10px;
}

h1 {
	color:black;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid black;
}

a:visited, a:link {
	color:black;

	text-decoration:underline;

}

a:hover {
	color:black;
	text-decoration: underline;
	background:none;
}

/*each paragraph has to be at the center*/

p {
   color: black;
   text-align: center;
}

#wrapper {
	margin:-30px auto;
	width:auto;
  height: auto;
}


#left-column {
	width:500px;
	padding:0 30px 30px;
	float:left;
}


#main-column {
  width:300px;
  padding:0 30px 30px;
  float: left;
}

#main-content {
	margin:0 10px;
}

.box {
	background:#D5D3CD;
	border:1px solid black;
	padding:15px;
  width: auto;
}

#primary {
    float: left;
    width: 240px;
}

#content {
    float: left;
    width: 480px;
}

#secondary {
    float: left;
    width: 240px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

